.tabs-btn {
    border: 2px solid darkgrey;
    padding: 5px;
}

.tabs-btn .primary-color {
    background-color: greenyellow;
}

.tabs-btn .secondary-color {
    background-color: #e3e3e3;
}

.text-gray {
    color: darkgrey;
}

.font-weight-bold{
    font-weight: bold;
}

.text-light-gray{
    color: lightgrey;
}

.text-green{
    color: #04bf6b;
}

.font-size-23px{
    font-size: 23px;
}

.font-size-12px{
    font-size: 12px;
}

.view-order-btn{
    color: green;
    border-color: lawngreen;
    background-color: #d3f2e4;
    border-radius: 8px;
    box-shadow: 1px 3px 4px #888888;
}

.cust-class{
    margin-top: 10px;

}
.btn-cust{
    margin-top: 10px;

}
.view-order-btn:hover{
    color: white;
    border-color: #04bf6b;
    background-color: #04bf6b;
    border-radius: 8px;
}

.text-green-light{
    color: #04bf6b;
}

.order-img{
    border-radius: 14px;
}

.order-card{
    border-radius: 10px;
}
.tabs-custom-btn{
    border: 1px solid darkgrey;
}
.ico-start{
    flex-grow: 1;
}

.accept-order-btn{
    background-color: #04bf6b;
    border: none;
    border-radius: 40px;
    color: white;
}

.accept-order-btn:active{
    border: none;
}

.ico-start .fa{
    transform: scale(2);
}

.ico-end .fa{
    transform: scale(2);
}

.item{
    font-size: 20px;
}

.order-description{
    line-height: 1.4;
    font-size: 14px;
}

.btn-tabs-btn{
    background-color: #f5f5f5;
    padding-left: 20px;
    padding-right: 20px;
}

.btn.focus, .btn:focus{
    box-shadow: none;
}

