.tabs-btn {
    border: none;
    padding: 5px;
}

.tabs-btn .primary-color {
    background-color: greenyellow;
}

.tabs-btn .secondary-color {
    background-color: darkgrey;
}

.text-gray {
    color: darkgrey;
}

.font-weight-bold{
    font-weight: bold;
}

.text-light-gray{
    color: lightgrey;
}

.text-green{
    color: #04bf6b;
}

.font-size-23px{
    font-size: 23px;
}

.font-size-12px{
    font-size: 12px;
}

.view-order-btn{
    color: green;
    border-color: lawngreen;
    background-color: #d3f2e4;
    border-radius: 8px;
    box-shadow: 1px 3px 4px #888888;
}

.view-order-btn:hover{
    color: white;
    border-color: #04bf6b;
    background-color: #04bf6b;
    border-radius: 8px;
}

.text-green-light{
    color: #04bf6b;
}

.order-img{
    border-radius: 14px;
}

.order-card{
    border-radius: 10px;
}